.container {
	font: Helvetica;
	font-size: 20px;
	justify-content: left;
	width: 100%;
	background: #363636;
	text-align: left;
	padding: 20px;

	.headerTitle {
		font: Helvetica;
		font-size: 20px;
	}
}